{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% block head %}
{% endblock %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.1.1.js"></script>

<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link href="/static/que/css/multi.select.css" rel="stylesheet" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href={% static "form/css/solution/css/bootstrap.min.css"%}>
    <!-- custom CSS -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={% static "form/css/solution/css/bootstrap.min.css"%}>
    <!-- custom CSS -->
    <link rel="stylesheet" href={% static "form/css/solution/css/style.css" %}>




<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href= {% static "form/vendor/bootstrap/css/bootstrap.min.css" %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "form/fonts/font-awesome-4.7.0/css/font-awesome.min.css"%}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "form/fonts/iconic/css/material-design-iconic-font.min.css"%}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "form/vendor/animate/animate.css" %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "form/vendor/css-hamburgers/hamburgers.min.css" %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "form/vendor/animsition/css/animsition.min.css"%}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "form/vendor/select2/select2.min.css"%}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "form/vendor/daterangepicker/daterangepicker.css"%}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "form/vendor/noui/nouislider.min.css"%}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "form/css/util.css"%}>
	<link rel="stylesheet" type="text/css" href={% static "form/css/main.css"%}>



{% block style %}
{% endblock %}

<!--===============================================================================================-->

</head>
<body>



{% block content %}

{% endblock %}

{% block script %}
{% endblock %}

<footer class="card-footer" style="background-image: linear-gradient(450deg, #2c829c, #244f6c);bottom: 0; padding: 8px; width: 100%; position: fixed; text-align: center; left: 0;z-index: 1000">
    <div><a style="font-family:Lato-Bold;color: white;">Version: 0.1.2</a></div>
    <div style="font-family:Lato-Bold;color: white"><i class="fa fa-copyright fa-fw"></i>2019 by <a href="https://www.blabla.com/" target="_blank" style="font-family:Lato-Bold;color: white; font-size: 17px">Footer</a></div>
</footer>

</body>
</html>