{% extends "base.html" %}


{% block head %}
	<title>					List and Logging
</title>
{% endblock %}
{% block style %}



{% endblock %}

{% block content %}


<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href= "/static/form/vendor/bootstrap/css/bootstrap.min.css" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/form/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/form/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/form/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/form/vendor/css-hamburgers/hamburgers.min.css" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/form/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/form/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/form/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/form/vendor/noui/nouislider.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/form/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/form/css/main.css">
<!--===============================================================================================-->
    <!-- owl carousel css-->
    <link rel="stylesheet" href="/static/form/css/solution/owl-carousel/assets/owl.carousel.min.css" type="text/css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/form/css/solution/css/bootstrap.min.css">
    <!-- custom CSS -->
    <link rel="stylesheet" href="/static/form/css/solution/css/style.css" >
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="gtco-main-nav">
    <div class="container"><a href="/"><img src="https://static.wixstatic.com/media/6b3509_3a379fb7ab874f9789302e7c45ce40b6~mv2_d_4434_1692_s_2.png/v1/fill/w_199,h_76,al_c,q_80,usm_0.66_1.00_0.01/6b3509_3a379fb7ab874f9789302e7c45ce40b6~mv2_d_4434_1692_s_2.webp"></a>
        <button class="navbar-toggler" data-target="#my-nav" onclick="" data-toggle="collapse"><span
                class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span></button>
        <div id="my-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="cloud/upload"><div class="box"><b>Upload Form</b></div></a></li>
   <li class="nav-item"><a class="nav-link" href="/macadress"><div class="box"><b>Add MacAddress</b></div></a></li>

{% if sessionvalue == 'super' %}


                       <li class="nav-item"><a class="nav-link" href=""><div class="box">List</div></a></li>
                     <li class="nav-item"><a class="nav-link" href="/addplatform"><div class="box"><b>Add Platform</b></div></a></li>
                <li class="nav-item"><a class="nav-link" href="/deletefirmware"><div class="box"><b>Delete Firmware</b></div></a></li>

                    <li class="nav-item"><a class="nav-link" href="/platformdelete"><div class="box"><b>Delete Platform-Mac</b></div></a></li>

            {% endif %}

            </ul>

        </div>
    </div>
</nav>




<div class="container-contact100" style="">
    <div class="wrap-contact100 col-lg-8" style="width: 1100px;height:1000px;margin-bottom: 200px;padding-right: 80px;padding-left: 80px">

				<span class="contact100-form-title">
Firmware Listing			</span>


<div class="wrap-contact100 col-lg-6" style="margin:0 auto">

   	<select class="wrap-input100 button col-lg-12" style="text-align-last: center" id = "firmwarelist">
        <option style="text-align-last: center">


          Select Firmware from List</option>

   		{% for item in firminfo %}
   			<option class="" style="text-align-last: center;text-align-all: center" value = {{item.Firmware}}>{{item.Firmware}}</option>
   		{% endfor %}

   	</select>
</div>



<br>


 <div class="wrap-input100 validate-input bg1 col-lg-10" data-validate="" style="height:400px;margin:0 auto">

          <ul class="wrap-contact100 bg-light col-lg-12" style="width: auto; height: auto; padding: 2px;" id="maclist">

            <center><b>Select Firmware in order to show table</b></center>

        </ul>

     <br>
       </div>








    </div>
</div>






<div class="container-contact100">
    <div class="wrap-contact100 col-lg-8" style="width: 1100px;margin-bottom: 100px;padding-right: 80px;padding-left: 80px">

				<span class="contact100-form-title">
Logging			</span>


    <!-- "Show" button -->


<center><button id="show1">*READ HOW TO USE LOGGING FORM</button></center>
        <dialog class="wrap-contact100 col-lg-12" style="display: none; width:auto;height:auto;position:relative;padding-top:14px;padding-bottom: 14px;margin:0 auto" id="dialog1">
<p><li style="list-style-type: square"><font size="4px"> First of all <b>Platform Type</b> must be chosen in order to select <b>Mac Addresses</b>.</font></li> </p>
<p><li style="list-style-type: square"><font size="4px"> After <b>Mac Address</b> chosen , <b>Firmwares</b> and <b>Log Levels of Firmwares</b> which that Mac Address has will be seen in a table.</font></li> </p>
            <p><li style="list-style-type: square"><font size="4px">Respect to that <b>Firmwares</b> , they would be selected <b>Single</b> or <b>Multiple</b> from drop-down list.</font></li> </p>
            <p><li style="list-style-type: square"><font size="4px">Finally , <b>Log Level</b> can be selected from drop-down list and filled checkbox in order to <b>Start Logging</b>. </font></li> </p>

            <center> <p><q><font size="4px">After Firmware List is open, <b>Refresh</b> button would be used in order to show current Log Levels after started Logging.</font></q> </p></center>


<br>
<center><button id="hide1" ><u>Close</u></button></center>
</dialog>

<br>




        <form id="dataForm" enctype="multipart/form-data" method="POST">

{% csrf_token %}

    <div class="col-6" style="margin:0 auto;padding:3px" data-validate="">
     <div class="row justify-content-center align-items-center">
   <div class="form-horizontal col-lg-12">
   	<select class="wrap-input100 button col-lg-12" style="margin-bottom:0;margin-top:0;text-align-last: center;" id = "users">
        <option selected="true" style="text-align-last: center;" disabled="disabled">
            Select Platform ID from Platform List </option>
   		{% for item in platformTypes %}
   			<option class="multi-button" style="text-align-last: center;" value = {{item.PlatformType}}>{{item.PlatformType}}</option>
   		{% endfor %}

   	</select>
   </div>
   </div>
     </div>
<br>


        <div class="col-lg-6" style="margin:0 auto">
           <div class="" style="margin:0 auto;" id="groups"></div>
            </div>

        <br>

 <div class="wrap-input100 validate-input bg1 col-lg-12" style="margin:0 auto;" data-validate="">
   <div class="wrap-input100" id="multi_mac"></div>
<br>

          <div style="margin:0 auto;" id="renew"></div>
<br>
 <ul class="wrap-contact100 bg-light" style="list-style:none; width: auto; height: auto; padding: 2px;" id="firmware_table">
        </ul>
    </div>

<br>






     <div class="col-6" style="float:left;padding:3px;">


                    <div class="wrap-input100 col-lg-12" style="margin:auto 0" id="multi_firmware">       </div>

     </div>

    <div class="col-5" style="float:right;padding:1px;">
    <select class="wrap-input100 button col-12" style="margin:0 auto;text-align-last: center"; id = "levels">
        <option selected="true" disabled="disabled" style="text-align-last: center" >Select Log Level   </option>
                <option class="multi-button" style="text-align-all: center" value ="0">0 ( Stop Logging)</option>
        <option class="multi-button" value ="1">1</option>
            <option class="multi-button" value ="2">2</option>
            <option class="multi-button" value ="3">3</option>
                <option class="multi-button" value ="4">4</option>
                        <option class="multi-button" value ="5">5</option>
   	</select>

     </div>
<br>
        <br>
<div class="container col-lg-12" style="margin-top:270px" ><hr></div>

            <div class="wrap-input100 col-lg-3" style="margin-right: auto; margin-left:auto; margin-bottom: auto; margin-top: 10px"><label><b>Start Logging</b></label> &ensp; <input style="width: 18px; height:18px;margin-top:auto" type="checkbox" id="StartLog" onclick="">  </div>



 </form>
                  </div>

    </div>
</div>

{% endblock %}

{% block script %}


  <script type="text/javaScript">

    (function() {
        var dialog1 = document.getElementById('dialog1');
        document.getElementById('show1').onclick = function() {
        document.getElementById('dialog1').style.display = 'block';
    };
        document.getElementById('hide1').onclick = function() {
        document.getElementById('dialog1').style.display = 'none';
    };
})();
</script>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script src="/static/que/js/multi.select.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

<script type="text/javascript">

      /* LOGGING FORM */



    $(document).ready(function(){

    $('#multi_mac').multi_select({
        selectColor: 'purple',
        selectSize: 'medium',
        duration: 300,
        easing: 'slide',
        listMaxHeight: 300,
        selectedCount: 2,
        sortByText: true,
        fillButton: true,
    });
    $('#multi_mac').multi_select({
        selectText: 'Choose MAC Addresses',
    });

    $('#multi_firmware').multi_select({
        selectText: 'Uploaded Firmwares',
    });






    // LISTING MAC ADDRESS ACCORDING TO FIRMWARES


    $('#firmwarelist').change(function (e) {
        e.preventDefault();


        var firminfo = $(this).val();
        var data = {firminfo};

        console.log(data);
        console.log('aaa');
        $.ajax({
        type : 'POST',
        url :  "{% url 'firm_info' %}",
        data : data,
        csrfmiddlewaretoken: "{{ csrf_token }}",

        success : function(response) {
             $.ajax({
        type : 'POST',
        url :  "{% url 'get_group_info1' %}",
        data : data,
        csrfmiddlewaretoken: "{{ csrf_token }}",
             success : function (response) {

                var macadr = [];
                var plat = [];
                var groupnum = [];
                for(item of response.macRespectFirm){
                    macadr += "<center><li>" + item.MacAddr +"</li></center>";
                    console.log(item.MacAddr)
                }
                for(item of response.platformRespectFirm){
                    plat += "<center><li>" + item.PlatformType +"</li></center>";
                    console.log(item.PlatformType);
                }
                for(item of response.groupRespectFirm){
                    groupnum += "<center><li>" + item.GroupID +"</li></center>";
                    console.log(item.GroupID);

                }




                $('#maclist').html("\n" +
                    "<div style='font-family: Lato-Bold;font-size: 20px' '><center> Mac Addresses which have selected firmware: </center></div>" +
                     "<br>" +
                    "        <table class=wrap-input100; style=\"font-family: arial, sans-serif;\n" +
                    "  border-collapse: collapse;\n" +
                    "margin:0 auto;\" id=\"\maclist\">\n" +
                    "<tr class=wrap-input100; style=\"\">\n" +
                    "    <th style=\"border: 1px solid #dddddd;\n" +
                    "  text-align: center;\n" +
                    "  margin:auto\">Mac Address</th>\n" +
                    "    <th style=\"border: 1px solid #dddddd;\n" +
                    "  text-align: center;\n" +
                    "  padding:auto;\">Platform</th>\n" +
                    "    <th style=\"border: 1px solid #dddddd;\n" +
                    "  text-align: center;\n" +
                    "  padding:auto;\">Group ID</th>\n" +
                    "  </tr>\n" +
                     "   <tr style=\"position:center;\">\n" +
                    "    <td style=\"border: 1px solid #dddddd;\n" +
                    "" +
                    "  padding:auto; text-align: center;font-size:large;\">" + "<b>" + macadr + " </b>" + "</td>" +
                    "    <td style=\"border: 1px solid #dddddd;" +
                    "  text-align: center;" +
                    "  padding:auto;\">" + "<b>" + plat + "</b>" + " </td>\n" +
                    "    <td style=\"border: 1px solid #dddddd;" +
                    "  text-align: center;" +
                    "  padding:auto;\">" + "<b>" + groupnum + "</b>" + " </td>\n" +
                    "  </tr>\n" +
                    "</table>\n");
             },
                 error : function () {
                console.log('!')
                 }


             })
        },

            error : function () {
               console.log('cccc');
            },

        })
        });



 $('#StartLog').change(function() {

 if(document.cookie.indexOf('sessionid') > 0)
 {

         Swal.fire('Please wait');
         Swal.showLoading();
         selected = $("#multi_mac").multi_select("getSelectedValues");
         let selectedStr = JSON.stringify({selected});
         platformType = $("#users").val();
         firmware = $("#multi_firmware").multi_select("getSelectedValues");
         LogLevel = $('#levels').val();
         GroupIDS = $("#groups").multi_select("getSelectedValues");

          if ($(this).is(':checked')) {
                  if (($("#users").val()) ===  null || (selected.length === 0 || firmware.length === 0 || LogLevel === null)){
                         Swal.fire({
                            type: 'error',
                            title: 'All options must be selected',
                            }).then((result) => {
                                $(this).removeAttr('checked');
                            });
                  }

                      else{
             $.ajax({
                         type : "POST",
                         url:"{% url 'loglist' %}",
                         data : {
                             "platformType": platformType,
                             "macList" : selectedStr,
                             "LogLevel" : LogLevel,
                             "firmware" : JSON.stringify(firmware),
                             "GroupIDS" : GroupIDS,
                         },
                         csrfmiddlewaretoken: "{{ csrf_token }}",
                 success:function () {

                     console.log(LogLevel);
                     console.log(platformType);
                     console.log(firmware);
                     console.log(GroupIDS);
                     console.log(selectedStr);
                     console.log("okkkkkk");
                     if(LogLevel != '0'){
                            Swal.fire({
                        type: 'success',
                        title: 'Log Level set to ' + LogLevel,
                        }).then((result) => {
                             $('#StartLog').removeAttr('checked');
                                })
                     }
                     else {
                       Swal.fire({
                        type: 'success',
                        title: 'Log Level set to ' + LogLevel + ' and Logging Stopped',
                        }).then((result) => {
                                 $('#StartLog').removeAttr('checked');

                            });

                     }
                 },
                 error:function () {
                     console.log(LogLevel);
                     console.log(platformType);
                     console.log(firmware);
                     console.log(GroupIDS);
                     console.log(selectedStr);
                     console.log("erroric");
                      Swal.fire({
                            type: 'error',
                            title: 'Log Level could not set up , something went wrong! ',
                            }).then((result) => {
                                window.location.href = "";
                            });

                 }



                     })
                  }
          }
          else {
              $.ajax({
                         type : "POST",
                         url:"{% url 'loglist' %}",
                         data : {
                             "platformType": $("#users").val(),
                             "macList" : selectedStr,
                             "firmware" : JSON.stringify(firmware),
                             "GroupIDS" : GroupIDS,
                             "LogLevel" : '0',
                         },
                         csrfmiddlewaretoken: "{{ csrf_token }}",
                 success:function () {
                     Swal.fire({
                            type: 'success',
                            title: 'Logging Stopped ! ',
                            }).then((result) => {
                                window.location.href = "";
                            });

                    console.log("uncked")
                 },
                  error:function () {
                   Swal.fire({
                            type: 'error',
                            title: 'Something went wrong ! ',
                            }).then((result) => {
                                window.location.href = "";
                            });


                  }
                     })
          }
          }
        else
             {
                 Swal.fire({
                            type: 'error',
                            title: 'LOGIN EXPIRE!',
                            text: 'Your request could not send!'
                        }).then((result) => {
                          window.location.href = '/loginpage';
                                     })
             }
        });

    $('#groups').on('click',function () {
          var groups = $(this).multi_select("getSelectedValues");
          var data = {groups};



            if (groups.length > 1)
            {
                $("#groups").multi_select("clearValues")
                Swal.fire({
                        type: 'error',
                        title: 'Platform Type and Group ID must be selected SINGLE !',
                    });

            }


          $.ajax({
            type : 'POST',
            url :  "{% url 'get_group_info' %}",
            data : data,
            csrfmiddlewaretoken: "{{ csrf_token }}",

               success : function(response) {
                    console.log('heloo');
                    macJson = {};
                    for(item of response.macs)
                    {
                        macs = item.MacAddr;
                        macJson[macs] = macs;
                    }


                   // show macs with respect to group id
                    $("#multi_mac").multi_select({
                    data : macJson,

                })
                    },
                 error: function () {
                    console.log('aaaada')
                 }



          })


      });

    /* show firmwares with respect to mac address */
    $('#multi_mac').on('click',function (event) {
        event.preventDefault();
        var macs = $(this).multi_select("getSelectedValues");
        var data = {macs};

        $.ajax({
        type : 'POST',
        url :  "{% url 'get_firmware_info' %}",
        data : data,
        csrfmiddlewaretoken: "{{ csrf_token }}",

        success : function(response) {
            var firms = [];
            var log = [];
            for(item of response.firmwares){
                firms += "<br><b>" + item.Firmware + "</b>" ;
            }

            for(item of response.StartLog)
            {
                log += "<br><b>" + item.StartLog + "</b>";
            }

            firmsJson = {};
            for(item of response.firmwares){
                firmware = item.Firmware;
                firmsJson[firmware] = firmware;
            }




          $('#firmware_table').html("\n" +
                    "        <table class=wrap-input100 col-lg-12; style=\"font-family: arial, sans-serif;\n" +
                    "  border-collapse: collapse;\n" +
                    "list-style:none;\" id=\"firmware_table\">\n" +
                    "\n" +
                    "\n" +
                    "                  <tr class=wrap-input100; style=\"position:center;\">\n" +
                    "    <th style=\"border: 1px solid #dddddd;\n" +
                    "  text-align: center;\n" +
                    "  margin:auto\">Firmware</th>\n" +
                    "    <th style=\"border: 1px solid #dddddd;\n" +
                    "  text-align: center;\n" +
                    "  padding:0 10px 0 10px;\">Log Level</th>\n" +
                    "  </tr>\n" +
                     "   <tr style=\"position:center;\">\n" +
                    "    <td style=\"border: 1px solid #dddddd;\n" +
                    "" +
                    "  padding:0 15px 0 15px; text-align: center;font-size:large;\">" + "<b>" + firms + " </b>" + "</td>" +
                    "    <td style=\"border: 1px solid #dddddd;" +
                    "  text-align: center;" +
                    "  padding:auto;\">" + "<b>" + log + "</b>" + " </td>\n" +
                    "  </tr>\n" +
                    "</table>\n");
            $("#renew").html('    <button type="button" class="btn btn-default btn-sm">\n' +
                '          <span class="fa fa-refresh"></span> Refresh\n' +
                '        </button>');

            // show firmwares with respect to mac
            $("#multi_firmware").multi_select({
                data : firmsJson,
            });
        },





        })
    });


  $('#renew').on('click',function (event) {
        Swal.fire('Please wait');
        Swal.showLoading();
        event.preventDefault();
        var macs = $('#multi_mac').multi_select("getSelectedValues");
        var data = {macs};

        $.ajax({
        type : 'POST',
        url :  "{% url 'get_firmware_info' %}",
        data : data,
        csrfmiddlewaretoken: "{{ csrf_token }}",

        success : function(response) {
            Swal.fire({
                title: 'Table was refreshed'
                            })
            var firms = [];
            var log = [];
            for(item of response.firmwares){
                firms += "<br><b>" + item.Firmware + "</b>" ;
            }

            for(item of response.StartLog)
            {
                log += "<br><b>" + item.StartLog + "</b>";
            }

          $('#firmware_table').html("\n" +
                    "        <table class=wrap-input100 col-lg-12; style=\"font-family: arial, sans-serif;\n" +
                    "  border-collapse: collapse;\n" +
                    "list-style:none;\" id=\"firmware_table\">\n" +
                    "\n" +
                    "\n" +
                    "                  <tr class=wrap-input100; style=\"position:center;\">\n" +
                    "    <th style=\"border: 1px solid #dddddd;\n" +
                    "  text-align: center;\n" +
                    "  margin:auto\">Firmware</th>\n" +
                    "    <th style=\"border: 1px solid #dddddd;\n" +
                    "  text-align: center;\n" +
                    "  padding:0 10px 0 10px;\">Log Level</th>\n" +
                    "  </tr>\n" +
                     "   <tr style=\"position:center;\">\n" +
                    "    <td style=\"border: 1px solid #dddddd;\n" +
                    "" +
                    "  padding:0 15px 0 15px; text-align: center;font-size:large;\">" + "<b>" + firms + " </b>" + "</td>" +
                    "    <td style=\"border: 1px solid #dddddd;" +
                    "  text-align: center;" +
                    "  padding:auto;\">" + "<b>" + log + "</b>" + " </td>\n" +
                    "  </tr>\n" +
                    "</table>\n");

            // show firmwares with respect to platform type
            $("#multi_firmware").multi_select({
                data : firmwareJson,
            })
        },

        })
    });


    /*  when paltform type changed */
    var selected = [];
    $("#users").change(function(e){
        e.preventDefault();
        var platformType = $(this).val();
        var data = {platformType};

        $.ajax({
            type : 'POST',
            url :  "{% url 'get_mac_info' %}",
            data : data,
            csrfmiddlewaretoken: "{{ csrf_token }}",

            success : function(response){
            macJson = {};
            for (item of response.macAddresses){
                mac = item.MacAddr;
                macJson[mac] = mac;
            }

            firmwareJson = {};
            for(item of response.firmwares){
                firmware = item.Firmware;
                firmwareJson[firmware] = firmware;
            }

            groupJson = {};
                for (item of response.groupNumbers) {
                    group = item.GroupID;
                    groupJson[group] = group;
                }

            $("#groups").multi_select({
                data: groupJson,
            });



            // show mac adresses with respect to platform type
            $("#multi_mac").multi_select({
                data : macJson,
            });


            },
            error : function(response){
                console.log(response)
            }
        })
    })

})
</script>
{% endblock %}